<button (click)="resize()">
    change size
</button>
<button (click)="collapse1()">
    collapse tab1
</button>
<button (click)="collapse2()">
    collapse tab2
</button>
<button (click)="open1()">
    open tab1
</button>
<button (click)="open2()">
    open tab2
</button>
<div class="container">
    <div class="split-example" #splitComponent>
        <ui-split direction="horizontal" [restrictMove]="false" [useTransition]="true" unit="pixel"
            [minSize]="minWidth">
            <ui-split-area [size]="width1">
                <div style="height: 100%;" class="normal">
                    <ui-split direction="vertical" [restrictMove]="false" [restrictMove]="true" unit="pixel"
                        [useTransition]="true" [minSize]="50">
                        <ui-split-area class="overflow-y">
                            <div class="overflow-x min-width-300">
                                <xxx-drag-component [todo]="['item1', 'item2']"></xxx-drag-component>
                            </div>
                        </ui-split-area>
                        <ui-split-area class="overflow-y">
                            <div class="overflow-x min-width-300">
                                <xxx-drag-component [todo]="['itemxl', 'item3']"></xxx-drag-component>
                            </div>
                        </ui-split-area>
                        <ui-split-area class="overflow-y">
                            <div class="overflow-x min-width-300">
                                <xxx-drag-component [todo]="['item4', 'item5']"></xxx-drag-component>
                            </div>
                        </ui-split-area>
                    </ui-split>
                </div>
                <div class="txt-min">
                    <span>
                        minimum
                    </span>
                </div>
            </ui-split-area>
            <ui-split-area [(size)]="width2">
                <xxx-drop-component class="normal"></xxx-drop-component>
                <div class="txt-min">
                    <span>
                        minimum2
                    </span>
                </div>
            </ui-split-area>
            <ui-split-area #lastComponent>
                <div class="test-component">
                    <div class="child-test-component">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                            do eiusmod tiam, quis nostrud exercitation ullamco laboris
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                            in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                    </div>
                </div>
            </ui-split-area>
        </ui-split>
    </div>
</div>