@import "partials/page";
.container {
    display: flex;
    // height: 100vh;
    user-select: none;
}

.split-pane {
    overflow: auto;
}

.split-pane-left {
    flex-grow: 0;
    flex-shrink: 0;
}

.split-pane-right {
    flex-grow: 1;
}

.split-gutter {
    width: 5px;
    cursor: col-resize;
    background-color: #ccc;
    flex-shrink: 0;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.split-example {
    height: calc(100vh - 200px);
}
.child-test-component {
    min-width: 300px;
}
.test-component {
    overflow: auto;
    height: 100%;
}
.container {
    margin: 20px;
}
.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.txt-min {
    display: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
ui-split-area.ngx-min .normal {
    display: none;
}
ui-split-area.ngx-min .txt-min {
    display: flex;
}
.overflow-y {
    overflow-x: auto !important;
    overflow-y: auto !important;
}
.min-width-300 {
    min-width: 300px;
}
